
.detail-head-inner { margin: 11.45vw 4.16vw 2.08vw 4.16vw; }
.portfol-tag-wrap { display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 1.25vw; margin-bottom: 0.625vw; }
.portfol-tag-wrap div { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 1.25vw; }
.portfol-tag-wrap p { font-family: "Poppins"; font-weight: 500; font-size: 1.04vw; line-height: 1.66vw; letter-spacing: 0%; padding: 0.41vw 1.25vw; border-radius: 1.25vw; border: 1px solid #121212; }
.portfol-tag-wrap .share-img { width: 2.5vw; height: 2.5vw; border-radius: 50%; border: 1px solid #121212; padding: 0.72vw; }
.portfol-tag-wrap .share-img img { width: 100%; object-fit: contain; }
.back-list-wrap a { padding: 0.625vw; border: 1px solid #121212; width: 2.5vw; height: 2.5vw; }
.back-list-wrap img { width: 100%; }
.detail-head h2 { font-family: "Poppins"; font-weight: 700; font-size: 4.16vw; line-height: 4.89vw; letter-spacing: 0%; margin-bottom: 2.08vw; }
.portfol-info { display: flex; justify-content: flex-start; align-items: center; gap: 0.83vw; margin-bottom: 2.08vw; }
.portfol-info span { font-family: "Pretendard Variable"; font-weight: 400; font-size: 0.83vw; line-height: 1.25vw; letter-spacing: 0%; }
.portfol-description { margin-bottom: 2.08vw; max-width: 51.3vw; }
.portfol-description p { font-family: "Poppins"; font-weight: 500; font-size: 1.04vw; line-height: 1.66vw; letter-spacing: 0%; word-break: keep-all; }
.awards-wrap { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; gap: 0.83vw; margin-bottom: 1.66vw; }
.awards-wrap .awards-img { width: 2.5vw; height: 2.5vw; }
.awards-wrap .awards-img img { width: 100%; }
.go-site { width: 10.93vw; border: 1px solid #121212; padding: 0.625vw 1.25vw; }
.go-site a { display: flex; justify-content: space-between; align-items: center; flex-direction: row; font-family: "Poppins"; font-weight: 400; font-size: 0.83vw; line-height: 1.25vw; letter-spacing: 0%; color: #121212; }

/* detail-main */
.detail-head-img { width: 100%; }
.detail-head-img img { width: 100%; }
.detail-descript { padding: 4.16vw; }
.detail-descript h3 { font-family: "Poppins"; font-weight: 500; font-size: 4.16vw; line-height: 4.89vw; letter-spacing: 0%; }
.detail-descript .detail-text { margin-top: 1.66vw; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; gap: 4.16vw; }
.detail-descript .detail-text p { font-family: "Poppins"; font-weight: 400; font-size: 0.833vw; line-height: 1.25vw; letter-spacing: 0%; flex: 1 1; }
section.detail-img-sec { width: 100%; font-size: 0; margin-bottom: 8.33vw; }
.detail-img { width: 100%; }
.detail-img img { width: 100%; }

@media (max-width:768px) {
    body { max-width: 768px; overflow-x: hidden; }
    .detail-head-inner { margin: 13.45vw 4.16vw 21.3vw 4.16vw }
    .portfol-tag-wrap .back-list-wrap { display: none; }
    .portfol-tag-wrap > div { width: 100%; justify-content: space-between; }
    .portfol-tag-wrap button .share-img { width: 100%; justify-content: center; }
    .portfol-tag-wrap p { font-size: 4.26vw; line-height: 8.5vw; border-radius: 48px; padding: 2.13vw 6.4vw; }
    .portfol-tag-wrap button .share-img { width: 12.8vw; height: 12.8vw; }
    .portfol-tag-wrap button .share-img img { width: 55%; }
    .detail-head h2 { font-size: 8.5vw; line-height: 9.6vw; padding: 4.26vw 0 0.533vw 0; }
    .portfol-info { gap: 14px; margin-bottom: 8vw; }
    .portfol-info span { font-size: 4.26vw; line-height: 6.4vw; }
    .portfol-description { max-width: 100%; }
    .portfol-description p { font-size: 3.7vw; line-height: 5.86vw; }
    .awards-wrap { gap: 1.3vw; margin: 5.33vw 0 13.33vw 0; }
    .awards-wrap .awards-img { width: 12vw; height: 12vw; }
    .go-site { width: 56vw; padding: 3.2vw 6.4vw; }
    .go-site a { font-size: 4.26vw; line-height: 6.4vw; }
    .detail-head-img { width: auto; height: 162.13vw; }
    .detail-head-img img { width: auto; height: 100%; margin: 0 auto; }
    .detail-descript { padding: 13.86vw 5.33vw; }
    .detail-descript .detail-text { flex-direction: column; }
    .detail-descript h3 { font-size: 8.5vw; line-height: 9.6vw; margin-bottom: 16vw; }
    .detail-descript .detail-text p { font-size: 3.73vw; line-height: 6.4vw; }
}